* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(100deg, #574a56, #7e7988);
  
}

div.wrapper {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px ;
  border-radius: 10px;
}



.input-box .details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

button {
  background: #e9c5e7;
  height: 45px;
  width: 100%;
  border-radius: 12px;
  font-size: 25px;
  pointer-events: all;
  
}
.rahul {
  height: 45px;
  width: 100%;
  background: #0f834d;
  border-radius: 12px;
  font-size: 25px;
}

.error {
  font-size: 15px;
  width: 100%;
  color: red;
}

.wala {
  
  background-color: #0f834d;
  color: #fff;
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}