.center {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px ;
    border-radius: 10px;
}

.textfild input {
    height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  
  }

  .signwala {
    background: #3116a8;
    height: 45px;
    width: 100%;
    color: #fff;
    border-radius: 12px;
    font-size: 25px;
    pointer-events: all;
  }